<form name="redirect" method="post" action="/">
    <input type="hidden" name="publishable_key" />
    <input type="hidden" name="product_id" />
    <input type="hidden" name="provider_id" />
    <input type="hidden" name="customer_id" />
    <input type="hidden" name="callback_url" />
</form>
<script>
    window.addEventListener("load", function () {
        const form = document.querySelector('form[name=redirect]')
        Object.entries({
            'publishable_key': window.FLATPEAK_PUBLISHABLE_KEY || '',
            'product_id': window.FLATPEAK_PRODUCT_ID || '',
            'provider_id': window.FLATPEAK_PROVIDER_ID || '',
            'customer_id': window.FLATPEAK_CUSTOMER_ID || '',
            'callback_url': window.FLATPEAK_CALLBACK_URL || ''
        }).forEach(([key, value]) => form.querySelector(`[name=${key}]`).value = value);
        form.submit();
    });
</script>
