<form name="redirect" method="post" action="/auth">
    <input type="hidden" name="pub_key" />
    <input type="hidden" name="product_id" />
    <input type="hidden" name="customer_id" />
</form>
<script>
    window.addEventListener("load", function () {
        callback({object: 'loading', type: 'loading_start'});
        const form = document.querySelector('form[name=redirect]')
        Object.entries({
            'pub_key': window.FLATPEAK_PUBLISHABLE_KEY || '',
            'product_id': window.FLATPEAK_PRODUCT_ID || '',
            'customer_id': window.FLATPEAK_CUSTOMER_ID || ''
        }).forEach(([key, value]) => form.querySelector(`[name=${key}]`).value = value);
        form.submit();
    });
</script>
