<h1 class="title">Share your tariff</h1>
<p class="description">Let your devices access your tariff rates</p>

<div class="form">
    <p>ManufacturerDisplayName wants to access your energy account</p>

    <div class="share-disclaimer">
        <p>This will allow ManufacturerDisplayName to:</p>
        <ul>
            <li>View your email address</li>
            <li>View your account number</li>
            <li>View your electricity tariff</li>
        </ul>

        <p>Make sure that you trust ManufacturerDisplayName</p>

        <p class="additional">You may be sharing sensitive info with this site or app.  Learn about how ManufacturerDisplayName will handle your data by reviewing its privacy policies.  You can always see or remove access in your Dominion Energy account</p>
    </div>

    <div class="buttons">
        <button type="reset">Cancel</button>
        <button type="submit">Allow</button>
    </div>

    <script>
        const callback = typeof window.respondToApp === 'function' ? window.respondToApp : console.log;

        document.querySelector('button[type="reset"]').addEventListener('click', () => {
           callback({object: 'error', type: 'user_reject'});
        });

        document.querySelector('button[type="submit"]').addEventListener('click', () => {
            console.log('User click submit');
            fetch('/api/connect', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                }
            })
            .then((res) => {
                if (true || res.status === 200) {
                    res.json().then((data) => {
                        if (data.object === "error") {
                            console.error(data)
                        }
                        callback(data)
                    })
                } else {
                    location.href = '/'
                }
            })

        });
    </script>
</div>
