{{#if callbackUrl}}
<form name="callback" method="post" action="{{{callbackUrl}}}">
    <input type="hidden" name="auth" value="{{{Authorisation}}}">
    <input type="hidden" name="state" value="{{{PublicState}}}">
</form>
<script>
window.addEventListener("load", function () {
    document.querySelector('form[name=callback]').submit();
});
</script>
{{/if}}

<script>
    window.addEventListener("load", function () {
        window.requestAnimationFrame(() => {
            callback({object: 'success', state: "{{{PublicState}}}"});
        });
    });
</script>
